@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --color-primary: #F981F5;
  --color-primary-alt: #cc00ff;
  --color-secondary: #37E9E9;
  --color-background-color: #221D2D;
  --color-text: #bc4db8;
  --color-light: #fff;
  --color-anchor: #F981F5;
  --font-family-primary: "Bungee", sans-serif;
  --font-family-secondary: "IBM Plex Mono", monospace;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 1.6rem;
  --font-size-h3: 1.4rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
/* Remove default margin and padding*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
  font-family: "Bungee", sans-serif;
  color: #F981F5;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: 1.6rem;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
}

header h2 {
  font-family: "IBM Plex Mono", monospace;
  color: #37E9E9;
  font-size: 1em;
}
@media screen and (min-width: 1200px) {
  header h2 {
    font-size: 2em;
  }
}

#main h2 {
  text-align: left;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  #main h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: 1.15rem;
}

p {
  margin: 0 0 1rem;
  font-family: "IBM Plex Mono", monospace;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: #37E9E9;
}

.container ul li {
  font-family: "Bungee", sans-serif;
}

.container ol li {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

body {
  background-color: #221D2D;
  color: white;
}

.container, nav, .profile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main div, aside div, footer div {
  /*margin: 1rem;*/
}
main div *, aside div *, footer div * {
  grid-column: 2/-2;
}
main div article, aside div article, footer div article {
  /*margin: 1rem 0;*/
}

nav ul {
  grid-column: 2/12;
  display: flex;
}

#about, #guidelines, #contribute, #profile-title, .profile .container ul, .profile .container a {
  grid-column: 1/13;
}

#main {
  margin-top: 3rem;
}

.profile .container {
  grid-column: 2/-2;
}

.container h2 {
  padding-left: 0;
}

header {
  padding: 1rem;
  margin-bottom: 6%;
}
header .container {
  text-align: center;
}
header .container h1 {
  grid-column: 2/-2;
  font-size: 2.3em;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  header .container h1 {
    font-size: 5em;
  }
}
header .container h2 {
  grid-column: 2/-2;
  margin-top: 20px;
}
header .container p {
  grid-column: 2/-2;
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
}
header .container a {
  margin-top: 20px;
  grid-column: 3/-3;
}
@media screen and (min-width: 1200px) {
  header .container a {
    grid-column: 6/-6;
  }
}
@media screen and (min-width: 1200px) {
  header {
    margin-bottom: 3%;
  }
}

.container h1:before {
  content: "";
  font-size: 20em;
  display: inline-block;
  position: absolute;
  left: -20%;
  width: 35%;
  height: 30px;
  background-color: #37E9E9;
  filter: drop-shadow(-12px 12px 0px #ffffff);
}
@media screen and (min-width: 1200px) {
  .container h1:before {
    left: -10%;
    height: 60px;
  }
}

.container h1:after {
  content: "";
  font-size: 20em;
  display: inline-block;
  position: absolute;
  right: -20%;
  width: 35%;
  height: 30px;
  background-color: #37E9E9;
  filter: drop-shadow(12px 12px 0px #ffffff);
}
@media screen and (min-width: 1200px) {
  .container h1:after {
    right: -10%;
    height: 60px;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
  text-align: center;
  font-family: "Bungee", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10%;
  font-size: 0.9rem;
}
@media screen and (min-width: 1200px) {
  nav ul li {
    margin-bottom: 3%;
    font-size: 1.3rem;
  }
}
nav ul li a {
  color: white;
  text-decoration: #37E9E9 wavy underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

#about section ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
}
#about section ul li {
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 1rem 0;
  background-color: white;
  color: black;
}

#about .container blockquote {
  border: 5px solid #37E9E9;
  padding: 1rem;
  box-shadow: 0.5em 0.5em white;
  margin: 2rem 0 3rem 0;
}
#about .container blockquote strong {
  display: block;
  color: #F981F5;
  font-family: "Bungee", sans-serif;
  margin-bottom: 1rem;
}

#guidelines section a {
  grid-column: 3/-3;
}
#guidelines section .link-guidelines {
  margin-top: 2em;
  margin-bottom: 4em;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.9em;
}
@media screen and (min-width: 1200px) {
  #guidelines section .link-guidelines {
    grid-column: 5/9;
    font-size: 1.3em;
  }
}

#contribute {
  margin-bottom: 50px;
}
#contribute section ol {
  list-style-position: inside;
  list-style-type: none;
  counter-reset: num;
}
#contribute section ol li:before {
  content: counter(num) " .";
  counter-increment: num;
  font-family: "Bungee", sans-serif;
  color: #37E9E9;
  font-size: 1.3em;
}
#contribute footer div a {
  grid-column: 3/-3;
  margin: 1rem;
}

#contribute .container p {
  margin-bottom: 50px;
}

#files {
  margin-top: 50px;
}
#files .container a {
  grid-column: 3/-3;
  padding-top: 30px;
  padding-bottom: 30px;
}
#files .container a ::after {
  content: "&#8595;";
}
@media screen and (min-width: 1200px) {
  #files .container a {
    grid-column: 5/-5;
  }
}

#files .container a::after {
  content: "↓";
  margin-left: 5px;
}

.features {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
  }
  .features li {
    width: 33%;
  }
}
.features li {
  padding: 2rem;
  border: 5px solid #37E9E9;
  margin: 1rem;
  text-align: center;
}
.features a {
  text-decoration: none;
  color: #F981F5;
  display: block;
}

.features span:nth-child(2) {
  font-family: "IBM Plex Mono", monospace;
}

a.link-allstyles {
  border: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 30px;
  display: block;
  margin-bottom: 40px;
}

a.link-allstyles:hover {
  transform: none;
  box-shadow: none;
}

#styles h2 {
  text-align: left;
  font-size: 2em;
  margin-top: 20px;
}

#styles div a {
  grid-column: 4/-4;
}

.profile div ul {
  list-style: none;
}

.profile .container {
  border: 5px solid #37E9E9;
  padding: 1rem;
  box-shadow: 0.5em 0.5em white;
  margin: 2rem 0 3rem 0;
  display: flex;
  flex-wrap: wrap;
}
.profile .container h4 {
  color: #F981F5;
  font-family: "Bungee", sans-serif;
  margin-bottom: 1rem;
  width: 100%;
}
.profile .container ul {
  width: 100%;
}

.profile-title span:nth-child(2), .profile-author span:nth-child(2), .profile-twitter span:nth-child(2), .profile-website span:nth-child(2) {
  visibility: hidden;
  position: relative;
  display: inline-block;
  width: 70%;
}

.profile-title span:nth-child(2)::after {
  content: "Retro Stage";
  font-family: "IBM Plex Mono", monospace;
  visibility: visible;
  position: absolute;
  left: 0;
  width: 150%;
}

.profile-author span:nth-child(2)::after {
  content: "Randi Umphrey";
  font-family: "IBM Plex Mono", monospace;
  visibility: visible;
  position: absolute;
  left: 0;
  width: 150%;
}

.profile-twitter span:nth-child(2)::after {
  content: "N/A";
  font-family: "IBM Plex Mono", monospace;
  visibility: visible;
  position: absolute;
  left: 0;
  width: 150%;
}

.profile-website span:nth-child(2)::after {
  content: "github.com/randiU/retro-stage";
  font-family: "IBM Plex Mono", monospace;
  visibility: visible;
  position: absolute;
  left: 0;
}

.profile .container a:last-child {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 15px;
}

.profile .container:last-child::after {
  content: " →";
  font-size: 2rem;
  color: #F981F5;
  margin-top: 18px;
}

.profile-title, .profile-author, .profile-twitter {
  margin-bottom: 5px;
}

.page-footer {
  margin-top: 40px;
}
.page-footer div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .page-footer div ul {
    flex-direction: row;
    justify-content: center;
  }
}
.page-footer div ul li {
  margin: 1rem;
}

.page-footer .container p:nth-child(1) {
  text-align: center;
  margin-top: 30px;
}

.page-footer::before {
  margin-top: -50px;
  display: inline-block;
  position: absolute;
  left: -60%;
  content: "";
  --s: 15px;
  /* size of the wave */
  --b: 6px;
  /* thickness of the line */
  --m: 0.4;
  /* curvature of the wave [0 2] */
  background: #37E9E9;
  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2*var(--R));
  width: 240%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask: radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x, radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)), var(--_g)) 50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}

a.link-twittercontact, .page-footer a.link-github, a.link-rss, a.link-support {
  border: none;
  color: #F981F5;
}

.page-footer a.link-github svg {
  fill: #F981F5;
}

a.link-twittercontact:hover {
  transform: none;
  box-shadow: none;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link] {
  min-height: 3em;
  color: #fff;
  border: solid 5px #F981F5;
}

[class^=link] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
[class^=link]:hover, [class^=link]:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em var(--color-secondary);
}
[class^=link]:focus {
  outline-color: transparent;
  outline-style: solid;
}

.profile .container > a {
  color: white;
}

.link-github {
  grid-column: 3/-3;
}
.link-github span {
  padding-left: 10px;
}
.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: white;
}

.link-guidelines, .link-github, .link-downloadcss, .link-codepen, .link-downloadhtml {
  font-family: "Bungee", sans-serif;
}
