#contribute {
    margin-bottom: 50px;
    section {
        ol {
            list-style-position: inside;
            list-style-type: none;
            counter-reset: num;

            li:before {
                content: counter(num) " .";
                counter-increment: num;
                font-family: $primary-font;
                color: $color-secondary;
                font-size: 1.3em;
            }
        }
    }
    footer {
        div {
            a {
                grid-column: 3/-3;
                margin: 1rem;
            }
        }
    }
}


#contribute .container p {
    margin-bottom: 50px;
}