.page-footer {

    div {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: center;
            }
            
            li {
                margin: 1rem;
            }
        }
    }
}

.page-footer::before {
    text-decoration: $color-secondary wavy underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
}
